<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Carteleras</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/pages/pelicula']">Peliculas</a>
          </li>
          
        </ul>
        <form class="d-flex">
            <select class="form-select" [(ngModel)]="filtro" name="filtro">
                <option value="0">Sin Filtro</option>
                <option value="1">Número de sala</option>
                <option value="2">Género</option>
                <option value="3">Titulo</option>
                <option value="4">Hora inicio</option>
              </select>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="valorFiltro" name="valorFiltro">
          <button class="btn btn-outline-success" type="button" (click)="buscar()">Search</button>
        </form>
      </div>
    </div>
  </nav>